.page-footer {
  margin: 0;
  width: 100%;
  min-width: 320px;
  padding: 0 0 78px 0;
}

.page-footer__address {
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
}

.page-footer__address h4 {
  margin: 0 auto 31px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  max-width: 90%;
}

.page-footer__address p {
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  max-width: 555px;
  margin: 0 auto 42px;
}

.page-footer__map {
  margin: 0 auto 38px;
  display: block;
  width: 957px;
  height: auto;
}

.page-footer__address img {
  display: block;
  width: 100%;
  height: 100%;
}

.page-footer__connection {
  max-width: 1440px;
  margin: 0 auto;
}

.page-footer__connection-list {
  padding: 0;
  margin: 0 auto;
  max-width: 957px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  list-style-type: none;
  column-gap: 91px;
}

.page-footer__connection-item {
  margin: 0 0 20px 0;
  padding: 0;
}

.page-footer__connection-content {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: rgba(10, 217, 198, 1);
  }

  &:focus {
    opacity: 0.4;
  }
}

.page-footer__connection-phone {
  padding: 0 17px 0 0;
}

.page-footer__connection-content p {
  margin: 0 0 0 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.page-footer__phone-icon {
  align-self: center;
  width: 21px;
  height: 23px;
  margin: 0 15px 0 0;
}

.page-footer__mail-icon {
  align-self: center;
  width: 26px;
  height: 20px;
  margin: 0 16px 0 0;
}

@media (max-width: $desktop-width) {
  .page-footer {
    padding: 0 0 31px 0;
    margin: 0;
    width: 100%;

    &--no-scroll {
      display: none;
    }
  }

  .page-footer__address {
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
  }

  .page-footer__address h4 {
    margin: 0 auto 21px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.005em;
    color: #1f1f1f;
    max-width: 90%;
  }

  .page-footer__address p {
    font-weight: normal;
    font-size: 17px;
    line-height: 31px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    max-width: 767px;
    margin: 0 auto 21px;
  }

  .page-footer__map {
    margin: 0 auto 22px;
    width: calc(1vw * (698 / (768 / 100)));
    height: auto;
  }

  .page-footer__connection {
    max-width: 1440px;
    margin: 0 auto;
  }

  .page-footer__connection-list {
    max-width: 698px;
    column-gap: 92px;
  }

  .page-footer__connection-item {
    max-width: 300px;
  }

  .page-footer__connection-content {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;

    &:hover {
      color: rgba(10, 217, 198, 1);
    }

    &:focus {
      opacity: 0.4;
    }
  }

  .page-footer__connection-mail {
    padding: 0 0 0 6px;
  }

  .page-footer__connection-content p {
    margin: 0 0 0 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  .page-footer__phone-icon {
    align-self: center;
    width: 21px;
    height: 23px;
    margin: -3px 15px 10px 0;
  }

  .page-footer__mail-icon {
    align-self: center;
    width: 26px;
    height: 20px;
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding: 0 0 6px 0;
    margin: 0;
    width: 100%;
  }

  .page-footer__address {
    padding: 0;
    margin: 0 auto 31px;
    max-width: 1440px;
  }

  .page-footer__address h4 {
    margin: 0 auto 21px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.005em;
    color: #1f1f1f;
    max-width: 90%;
  }

  .page-footer__address p {
    font-weight: normal;
    font-size: 17px;
    line-height: 31px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    max-width: 767px;
    margin: 0 30px 20px;
  }

  .page-footer__map {
    width: 100%;
  }

  .page-footer__connection {
    max-width: 1440px;
    margin: 0 auto;
  }

  .page-footer__connection-list {
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    column-gap: unset;
    align-items: center;
  }

  .page-footer__connection-item {
    margin: 0 0 23px 0;
    padding: 0;
  }

  .page-footer__connection-content {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  .page-footer__connection-phone {
    padding: 0 12px 0 0;
  }

  .page-footer__connection-mail {
    padding: 0 0 0 6px;
  }

  .page-footer__connection-content p {
    margin: 0 0 0 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  .page-footer__phone-icon {
    align-self: center;
    width: 21px;
    height: 23px;
  }

  .page-footer__mail-icon {
    align-self: center;
    width: 26px;
    height: 20px;
  }
}
