.species {
  margin: 0 0 0 0;
  padding: 149px 0 0 0;
  width: 100%;
  min-height: 889px;
  background-color: #F6F7F9;
  z-index: 1;
  position: relative;

  @media (max-width: 1300px) {
    min-height: calc(1vw * 889 / (1300 / 100));
    padding-top: calc(1vw * 149 / (1300 / 100));
  }
}

.species h2 {
  text-align: center;
  margin: 0 auto 61px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1F1F1F;
  max-width: 90%;
}

.species__list {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.species__item {
  margin: 0 0 70px 0;
  position: relative;
  width: 342px;

  @media (min-width: 1023px) and (max-width: 1300px) {
    width: calc(1vw * 342 / (1300 / 100));
  }
}

.species__item:nth-child(3n-1) {
  margin-top: 28px;
}

.species__item:nth-child(3n) {
  margin-top: -10px;
}

.species__item-content {
  position: relative;
  width: 100%;
  margin: 0 0 21px 0;

  @media (min-width: 1023px) and (max-width: 1300px) {
    width: calc(1vw * 342 / (1300 / 100));
  }
}

.species__item img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 9px;
}

.species__item:nth-child(3n+1) .species__item-content {
  height: 503px;

  @media (min-width: 1023px) and (max-width: 1300px) {
    height: calc(1vw * 503 / (1300 / 100));
  }
}

.species__item:nth-child(3n-1) .species__item-content {
  height: 566px;

  @media (min-width: 1023px) and (max-width: 1300px) {
    height: calc(1vw * 566 / (1300 / 100));
  }
}

.species__item:nth-child(3n) .species__item-content {
  height: 513px;

  @media (min-width: 1023px) and (max-width: 1300px) {
    height: calc(1vw * 513 / (1300 / 100));
  }
}

.species__item:nth-child(3n+1) .species__item-content::before {
  display: block;
  position: absolute;
  content: "";
  width: 180px;
  height: 180px;
  border: 27px solid #0AD9C6;
  border-radius: 50%;
  box-sizing: border-box;
  top: 31%;
  left: -17.5%;
  z-index: -1;
}

.species__item:nth-child(3n-1) .species__item-content::before {
  display: block;
  position: absolute;
  content: "";
  width: 47px;
  height: 47px;
  border: 8px solid #0AD9C6;
  box-sizing: border-box;
  bottom: -23px;
  right: -22px;
  z-index: 1;
}

.species__item:nth-child(3n-1) .species__item-content::after {
  display: block;
  position: absolute;
  content: "";
  width: 47px;
  height: 47px;
  border: 8px solid #0AD9C6;
  box-sizing: border-box;
  top: -17px;
  left: -19px;
  z-index: 1;
}

.species__item:nth-child(3n) .species__item-content::after {
  display: block;
  position: absolute;
  content: "";
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 17px solid #0AD9C6;
  box-sizing: border-box;
  top: -33px;
  right: -37px;
  z-index: 1;
}

.species__item p {
  margin: 0 auto;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #000000;
  max-width: 340px;

  @media (max-width: 1300px) {
    max-width: calc(1vw * 340 / (1300 / 100));
  }
}

@media (max-width: $desktop-width) {
  .species {
    margin: 0 0 0 0;
    padding: 50px 0 18px;
    width: 100%;
    min-height: 718px;
    background-color: #F6F7F9;
    z-index: 1;
    position: relative;
  }

  .species h2 {
    text-align: center;
    margin: 0 auto 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: -0.005em;
    color: #1F1F1F;
    max-width: 90%;
  }

  .species__list {
    margin: 0 auto;
    padding: 0;
    max-width: 90%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }

  .species__item {
    margin: 0 0 50px 0;
    position: relative;
    width: calc(1vw * 270 / (768 / 100));
  }

  .species__item:nth-child(3n+1) .species__item-content,
  .species__item:nth-child(3n-1) .species__item-content,
  .species__item:nth-child(3n) .species__item-content {
    height: calc(1vw * 300 / (768 / 100));
  }

  .species__item:nth-child(3n-1) {
    margin-top: unset;
  }

  .species__item:nth-child(3n) {
    margin-top: unset;
  }

  .species__item img {
    display: block;
    border-radius: 9px;
    width: 100%;
    height: 100%;
  }

  .species__item:nth-child(3n+1) .species__item-content::before {
    display: block;
    position: absolute;
    content: "";
    width: 127px;
    height: 127px;
    border: 18px solid #0AD9C6;
    border-radius: 50%;
    box-sizing: border-box;
    top: unset;
    bottom: -28px;
    left: -37px;
    z-index: -1;
  }

  .species__item:nth-child(3n-1) .species__item-content::before {
    display: none;
  }

  .species__item:nth-child(3n-1) .species__item-content::after {
    display: none;
  }

  .species__item:nth-child(3n) .species__item-content::after {
    display: block;
    position: absolute;
    content: "";
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 13px solid #0AD9C6;
    box-sizing: border-box;
    top: -20px;
    right: -26px;
    z-index: 1;
  }

  .species__item p {
    margin: 0 auto;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #000000;
    max-width: calc(1vw * 270 / (768 / 100));
  }
}

@media (max-width: $tablet-width) {
  .species {
    margin: 0 0 0 0;
    padding: 50px 0 14px 0;
    width: 100%;
    min-height: 718px;
    background-color: #F6F7F9;
    z-index: 1;
    position: relative;
  }

  .species h2 {
    text-align: center;
    margin: 0 auto 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: -0.005em;
    color: #1F1F1F;
    max-width: 90%;
  }

  .species__list {
    margin: 0 auto;
    padding: 0;
    max-width: 90%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }

  .species__item {
    margin: 0 0 41px 0;
    position: relative;
    width: calc(1vw * 270 / (320 / 100));
  }

  .species__item:nth-child(3n-1) {
    margin-top: unset;
  }

  .species__item:nth-child(3n) {
    margin-top: unset;
  }

  .species__item-content {
    width: calc(1vw * 270/ (320 / 100));
  }

  .species__item:nth-child(3n+1) .species__item-content,
  .species__item:nth-child(3n-1) .species__item-content,
  .species__item:nth-child(3n) .species__item-content {
    height: calc(1vw * 300 / (320 / 100));
  }

  .species__item:nth-child(3n+1) .species__item-content::before {
    display: block;
    position: absolute;
    content: "";
    width: 127px;
    height: 127px;
    border: 18px solid #0AD9C6;
    border-radius: 50%;
    box-sizing: border-box;
    top: unset;
    bottom: -29px;
    left: -25px;
    z-index: -1;
  }

  .species__item:nth-child(3n) .species__item-content::after {
    display: block;
    position: absolute;
    content: "";
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 13px solid #0AD9C6;
    box-sizing: border-box;
    top: -20px;
    right: -14px;
    z-index: 1;
  }

  .species__item p {
    margin: 0 auto;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #000000;
    max-width: calc(1vw * 270 / (320 / 100));
  }
}
